.todos {
  display: flex;
  flex-wrap: wrap;
  width: 75%;

  .todo {
    border: 1px solid grey;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s linear;

    &.done {
      background-color: rgba(255, 0, 0, 0.3);
    }
  }
}
